* {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-family: "Arial", "Roboto", sans-serif;
}

.debbug {
    border: 2px solid red;
}

img {
    width: 90%;
    align-content: center;    
}

h4 {
    text-align: center;
    text-transform: uppercase; 
}


/* header */

header {
    /* display: inline-block; */
    text-align: center;
    margin: auto;
    color: #494949;
    font-weight: bold;

}

.cualquiera li {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    list-style-type: none;
    text-transform: uppercase;

    
}

ul {
    padding: 0 40px;
}

/* face */

.face {
    /* justify-content: center; */
    text-align: center;
    color: #808080;
    line-height: 1.5em;
    padding: 20px;    
    margin-bottom: 50px;
}

.face img{
    width: 70%;
}

/* Seccions */

.col {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    color: #4a4a4a;
}

.title {
    font-size: 1.4em;
}